

.return-title {
    font-family: fantasy;
    margin-bottom: 25px;
    color: #54363a;
    padding: 20px 25px;
    border-radius: 12px;
    font-size: 1.5em;
    font-weight: 80px;
}

.return-button {
    padding: 12px 24px;
    font-size: 1rem;
    font-family: fantasy;
    background: #54363a;
    color: #eec6c8;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 30px;
}

.return-input-box{

    background-color: #eec6c8;
    border-radius: 25px;
    padding: 20px 25px;
    margin-bottom: 25px;
    border: none;
    font-weight: 100;
    font-family: fantasy;
    width: 230px;
}
